In [1]:
import sqlite3

import numpy as np
import pandas as pd
from faker import Faker


def create_connection(db_file, delete_db=False):
    import os
    if delete_db and os.path.exists(db_file):
        os.remove(db_file)

    conn = None
    try:
        conn = sqlite3.connect(db_file)
        conn.execute("PRAGMA foreign_keys = 1")
    except Error as e:
        print(e)

    return conn

## degrees

In [7]:
conn = create_connection('non_normalized.db')
sql_statement = "select * from Students;"
df = pd.read_sql_query(sql_statement, conn)
hasho = {"Degree" :df["Degree"].unique()}
df_2 = pd.DataFrame(hasho)

          Degree
0       graduate
1  undergraduate

## create_df_exams

In [56]:
conn = create_connection('non_normalized.db')
sql_statement = "select * from Students;"
df = pd.read_sql_query(sql_statement, conn)
exam_list = df["Exams"].unique()

exam_name = []
exam_date = []
exam_hasho = {}
# for i in range(len(exam_list)):
#     temp = exam_list[i].strip().split(",")
#     for i in range(len(temp)):
#         if temp[i].strip().split(" ")[0] not in exam_name:
#             if temp[i].strip().split(" ")[0] != " ":
#                 exam_name.append(temp[i].strip().split(" ")[0])
#         if temp[i].strip().split(" ")[1] not in exam_date:
#             if temp[i].strip().split(" ")[1] != " ":
#                 exam_date.append(temp[i].strip().split(" ")[1])
# exam_date

unique_exam_and_date = []
for i in range(len(exam_list)):
    exam_and_date = exam_list[i].split(",")
    for i in range(len(exam_and_date)):
        if exam_and_date[i].strip() not in unique_exam_and_date:
            unique_exam_and_date.append(exam_and_date[i].strip())

exam_hasho = {"Exam": [], "Year": []}

for exam in unique_exam_and_date:
    exam_name, year = exam.split(" (")
    exam_hasho["Exam"].append(exam_name)
    exam_hasho["Year"].append(year[:-1])     
df_2 = pd.DataFrame(exam_hasho)
return df_2

In [71]:
unique_exam_and_date.sort()

In [73]:
exam_hasho = {"Exam": [], "Year": []}

for exam in unique_exam_and_date:
    exam_name, year = exam.split(" (")
    exam_hasho["Exam"].append(exam_name)
    exam_hasho["Year"].append(year[:-1])

exam_hasho

{'Exam': ['exam1',
  'exam10',
  'exam2',
  'exam3',
  'exam4',
  'exam5',
  'exam6',
  'exam7',
  'exam8',
  'exam9'],
 'Year': ['2016',
  '2019',
  '2017',
  '2018',
  '2019',
  '2020',
  '2017',
  '2017',
  '2018',
  '2018']}

In [64]:
exams_hasho = { 
               "Exam" : [], 
               "Year" : []
               }

for i in range(len(unique_exam_and_date)):
    exam_hasho["Exam"].append(unique_exam_and_date[i].split(" ")[0])
    exam_hasho["Year"].append(unique_exam_and_date[i].split(" ")[1].replace("(", "").replace(")", ""))
exam_hasho

AttributeError: 'str' object has no attribute 'append'

In [50]:
# for exam_year in exam_list[0].split(","):
#     for i in range(len(exam_year)):
#         print(exam_year.split(" "))
# temp = exam_list[34].strip().split(",")
# for i in range(len(temp)):
#     print(temp[i].strip().split(" ")[0])
exam_list[0].split(",")

['exam7 (2017)',
 ' exam9 (2018)',
 ' exam3 (2018)',
 ' exam7 (2017)',
 ' exam5 (2020)',
 ' exam10 (2019)',
 ' exam1 (2016)']

In [103]:

exam_list= []
unique_exam_and_date = []

conn = create_connection('non_normalized.db')
sql_statement = "select * from Students;"
df = pd.read_sql_query(sql_statement, conn)
exam_list = df["Exams"].unique()

exam_hasho = {"Exam": [], "Year": []}
for i in range(len(exam_list)):
    exam_and_date = exam_list[i].split(",")
    for i in range(len(exam_and_date)):
        if exam_and_date[i].strip() not in unique_exam_and_date:
            unique_exam_and_date.append(exam_and_date[i].strip())
unique_exam_and_date.sort()


for exam in unique_exam_and_date:
    exam_name, year = exam.split(" (")
    exam_hasho["Exam"].append(exam_name)
    exam_hasho["Year"].append(year[:-1])     

df_2 = pd.DataFrame.from_dict(exam_hasho)
df_2

     Exam  Year
0   exam1  2016
1  exam10  2019
2   exam2  2017
3   exam3  2018
4   exam4  2019
5   exam5  2020
6   exam6  2017
7   exam7  2017
8   exam8  2018
9   exam9  2018

In [107]:
exam_list= []
unique_exam_and_date = []

conn = create_connection('non_normalized.db')
sql_statement = "select * from Students;"
df = pd.read_sql_query(sql_statement, conn)
exam_list = df["Exams"].unique()

exam_hasho = {"Exam": [], "Year": []}
for i in range(len(exam_list)):
    exam_and_date = exam_list[i].split(",")
    for i in range(len(exam_and_date)):
        if exam_and_date[i].strip() not in unique_exam_and_date:
            unique_exam_and_date.append(exam_and_date[i].strip())
unique_exam_and_date.sort()


for exam in unique_exam_and_date:
    exam_name, year = exam.split(" (")
    exam_hasho["Exam"].append(exam_name)
    exam_hasho["Year"].append(int(year[:-1]))     
df_2 = pd.DataFrame.from_dict(exam_hasho)
df_2

     Exam  Year
0   exam1  2016
1  exam10  2019
2   exam2  2017
3   exam3  2018
4   exam4  2019
5   exam5  2020
6   exam6  2017
7   exam7  2017
8   exam8  2018
9   exam9  2018

In [106]:
df_exams_from_file = pd.read_csv("df_exams.csv")
df_exams_from_file

     Exam  Year
0   exam1  2016
1  exam10  2019
2   exam2  2017
3   exam3  2018
4   exam4  2019
5   exam5  2020
6   exam6  2017
7   exam7  2017
8   exam8  2018
9   exam9  2018